In [62]:
import pandas as pd
df = pd.read_csv('film.csv', sep=';')

In [63]:
df.head()

,Year,Length,Title,Subject,Actor,Actress,Director,Popularity,Awards,*Image
0,1990,111.0,Tie Me Up! Tie Me Down!,Comedy,"Banderas, Antonio","Abril, Victoria","Almod�var, Pedro",68.0,No,NicholasCage.png
1,1991,113.0,High Heels,Comedy,"Bos�, Miguel","Abril, Victoria","Almod�var, Pedro",68.0,No,NicholasCage.png
2,1983,104.0,"Dead Zone, The",Horror,"Walken, Christopher","Adams, Brooke","Cronenberg, David",79.0,No,NicholasCage.png
3,1979,122.0,Cuba,Action,"Connery, Sean","Adams, Brooke","Lester, Richard",6.0,No,seanConnery.png
4,1978,94.0,Days of Heaven,Drama,"Gere, Richard","Adams, Brooke","Malick, Terrence",14.0,No,NicholasCage.png

In [54]:
dades = {
    'Any' : df['Year'],
    'Genere': df['Subject'],
    'Durada': df['Length'],
    'Premis': df['Awards'],
    
}
cols = ['Channel', 'Priority', 'Units Sold', 'Profit']

In [55]:
df2s = pd.DataFrame(dades, columns=cols)
df2s.to_csv('bby_food.csv')